

div(style='background:#faf9f9;margin:0;padding:20px 0;font-family:Helvetica,"Helvetica Neue",Arial,sans-serif;text-align:center;width:100%!important;height:100%!important')
  table(border='0' cellpadding='0' cellspacing='0' width='100%' align='center' style='border-collapse:collapse;margin:0;padding:0;background-color:#faf9f9;width:100%!important;line-height:100%!important')
    tbody
      tr
        td(align='center' style='border-collapse:collapse;padding-left:9px;padding-right:9px;border-top-right-radius:16px')
          table.m_8839784810816008066responsive-table(width='550' border='0' cellspacing='0' cellpadding='0' style='border-collapse:collapse;width:600px')
            tbody
              tr
                td(style='border-collapse:collapse;border-top-right-radius:16px')
                  table(width='100%' border='0' cellspacing='0' cellpadding='0' style='border-collapse:collapse;border-collapse:separate;padding:0;border-radius:16px;background-color:#efeeec')
                    tbody
                      tr(height='48')
                        td(style='border-collapse:collapse')
                        td(style='border-collapse:collapse')
                        td(style='border-collapse:collapse;border-top-right-radius:16px')
                      tr
                        td(width='55' style='border-collapse:collapse')
                          div(style='width:55px')
                        td(style='border-collapse:collapse')
                          table(width='100%' border='0' cellspacing='0' cellpadding='0' style='border-collapse:collapse')
                            tbody
                              tr
                                td(align='left' style='border-collapse:collapse;border-top-right-radius:16px')
                                  table(width='100%' border='0' cellspacing='0' cellpadding='0' style='border-collapse:collapse')
                                    tbody
                                      tr
                                        td(style='border-collapse:collapse')
                                          p(style='margin:1em 0;line-height:24px;font-size:16px;margin-top:0;color:#1c1b18!important')
                                            | Dear #{full_name},
                                        td(align='right' style='border-collapse:collapse;border-top-right-radius:16px')
                                  h1(style='margin:0;font-weight:normal;font-size:20px;line-height:1.4em;font-size:24px;line-height:1.5em;margin-bottom:16px;color:#1c1b18!important')
                                    strong Important
                                    | : confirmation of the setup of your ACH Debit Authorization to GoCardless.
                                  p(style='margin:1em 0;line-height:24px;font-size:16px;color:#1c1b18!important')
                                    strong
                                      span.il Growth
                                      span.il Cave
                                      |  LLC can now collect payment(s) from you by ACH Debit Authorization.
                                  p(style='margin:1em 0;line-height:24px;font-size:16px;color:#1c1b18!important')
                                    | We will notify you on the day or before any new payments, subscriptions or changes to subscriptions.
                                  p(style='margin:1em 0;line-height:24px;font-size:16px;color:#1c1b18!important')
                                    | Payments will be debited from your bank account ******#{account_number_ending} (#{account_type} account) () via ACH Debit Authorization, and will appear on your bank statement as 
                                    strong GoCardless, ref: #{ref}
                                    | .
                                  p(style='margin:1em 0;line-height:24px;font-size:16px;font-weight:500;color:#1c1b18!important')
                                    | Please check the details above - if they are incorrect or there are any other issues with this Direct Debit, please contact 
                                    span.il Growth
                                    span.il Cave
                                    |  LLC at 
                                    a(href='mailto:lucas@growthcave.com' style='text-decoration:underline;text-decoration:none;font-weight:bold;color:#6e685e!important' target='_blank')
                                      | lucas@
                                      span.il growthcave
                                      | .com
                                    |  or on 
                                    span +1 203-451-2817
                                    | .
                        td(width='55' style='border-collapse:collapse;border-top-right-radius:16px')
                          div(style='width:55px')
                      tr
                        td(width='55' style='border-collapse:collapse')
                          div(style='width:55px')
                        td(height='27' align='left' style='border-collapse:collapse')
                        td(width='55' style='border-collapse:collapse;border-top-right-radius:16px')
                          div(style='width:55px')
              tr
                td(style='border-collapse:collapse;border-top-right-radius:16px')
                  table(width='100%' align='center' border='0' cellspacing='0' cellpadding='0' style='border-collapse:collapse;line-height:24px;font-size:12px;color:#545048!important')
                    tbody
                      tr
                        td(align='center' style='border-collapse:collapse;border-top-right-radius:16px;padding-top:34px')
                          div(style='padding-top:34px;font-size:12px;line-height:20px;color:#1c1b18;margin:0;padding:0;margin-bottom:27px')
                            | Powered by&nbsp; GoCardless
                          p(style='margin:1em 0;font-size:16px;line-height:20px;color:#1c1b18;margin:0;padding:0;margin-bottom:27px;line-height:24px;font-size:12px;color:#1c1b18!important;color:#545048!important')
                            | View your ACH Debit Authorization in the document attached.
